.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content-container {
    background-color: #3A3451;
    margin: auto;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
}


.title {
    color: #e3dbdb;
}

.modal-close-button {
    margin: 20px 10px 5px 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background: #4848b0;
    color: #eee3e3;
    cursor: pointer;
}

.order-info-table {
    border-collapse: collapse;
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    margin: 15px;
}
.order-info-table th, .order-info-table td {
    padding: 20px;
}
.order-info-table th {
    color: #79A70A;
}

@media only screen and (max-width: 600px) {
    .modal-content-container {
        width: 80% !important;
    }
}