.error-fallback-container {
    width: 100vw;
    height: 100vh;
}

.error-fallback-btn {
    border: 1px solid #28223F;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background: #9BC90D;
}