nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 200ms linear;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link-name {
    text-decoration: none;
    width: 20%;
}

.link-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.link-group > .link-name {
    width: 50%;
}

.bg-transparent {
    background: transparent;
}

.bg-regular {
    background: #3a3451;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.highlighted {
    color: #ffc800;
}

.active {
    color: yellow;
}
.in-active {
    color: white;
}

sup {
    font-size: 0.8rem;
    color: #ff6f00;
    font-weight: bold;
    margin-left: 5px !important;
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 1.1rem;
    }
    .nav-links {
        width: 60%;
    }
    .link-name {
        font-size: 0.8rem;
    }
    sup {
        font-size: 0.5rem;
        margin-left: 3px !important;
    }
}