.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-container {
    background-color: #3A3451;
    margin: auto;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
}
@media only screen and (max-width: 600px) {
    .modal-content-container {
        width: 80% !important;
    }
}